@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 3 78.1% 49.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 3 78.1% 49.2%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 0 0% 0%; /* #000000 */
    --foreground: 0 0% 100%; /* #FFFFFF */
    --card: 0 0% 10%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 19%;
    --popover-foreground: 0 0% 100%;
    --primary: 3 78.1% 49.2%; /* #E2231A */
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 25%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 25%;
    --muted-foreground: 0 0% 65%;
    --accent: 0 0% 25%;
    --accent-foreground: 0 0% 100%;
    --destructive: 3 78.1% 49.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 30%;
    --input: 0 0% 30%;
    --ring: 3 78.1% 49.2%;
    --chart-1: 3 78.1% 49.2%;
    --chart-2: 0 0% 70%;
    --chart-3: 0 0% 50%;
    --chart-4: 0 0% 30%;
    --chart-5: 0 0% 90%;
    --sidebar-background: 0 0% 16.5%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 3 78.1% 49.2%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 25%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 30%;
    --sidebar-ring: 3 78.1% 49.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
